.AboutHeader img {
  height: 80vh;
  width: 100vw;
}
.AbtUsContainer {
  display: flex;
  flex-direction: row;
  margin: 6rem 0 0 15rem;
}
.ExploreImg img {
  height: 50vh;
  width: 35vw;
}
.ExploreImg {
  margin-left: 5rem;
}
.bar1 {
  height: 2px;
  width: 4rem;
  background-color: #ff6060;
}
h3 {
  color: #110729;
  font-family: "Montserrat", Sans-serif;
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
  margin: 0px 0px 15px 0px;
}
p {
  color: #110729;
  font-family: "Poppins", Sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 27px;
  margin: 0px 50px 0px 0px;
}
h2 {
  color: #110729;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.15);
  margin: 0px 0px 20px 0px;
  font-family: "Lato", Sans-serif;
  font-size: 51px;
  font-weight: 800;
  line-height: 60px;
}
.trekspan {
  color: #ff6060;
  font-family: "Lato", Sans-serif;
  font-size: 48px;
  font-weight: 800;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.15);
}
.AbtUs {
  height: 70vh;
  width: 50vw;
}

.WhyUs h2 {
  color: #00114c;
  font-family: "Poppins", Sans-serif;
  font-size: 50px;
  font-weight: 500;
}

.WhyUs span {
  color: #ff6060;
  font-family: "Poppins", Sans-serif;
  font-weight: 700;
}

.icons{
  align-self: center;
  height: 10vh;
  width: 5vw;
  background-color: #ff6060;
  border-radius: 50%;
}

.WhyUs .icon{
  position: relative;
  font-size: 3rem;
  margin-top: 10px;
  color: #fff;
}
.WhyUs .purpose{
color: #000000;
font-family: "Poppins", Sans-serif;
font-weight: 400;
line-height: 1.2em;
margin-left: 50px;
}

.WhyUs .cards{
  display: flex;
  flex-direction: row;
  margin:0 15vw;
  align-items: center;
  justify-content: space-between;
  
}
.CardSec{
  box-shadow: 20px 20px 100px 0px rgba(0, 0, 0, 0.15);
}

.ImgGallery{
  display: flex;
  flex-direction: row;
}
.images{
  transition: transform 0.25s, visibility 0.25s ease-in;
}
.images:hover{
  transform: scaleY(1.5);
  transform: scaleX(1.8); 
}