.topBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--base-color);
  color: #ffffff;
  padding: 12px 25px;
}
.topBar a {
  color: #fff;
  margin: 0 5px;
  text-decoration: none;
}
.topBar .topDetails span {
  margin: 0 8px;
}
.topBar .topDetails span:first-child {
  padding-right: 10px;
  border-right: 1px solid #fff;
}
.topBar .topDetails .icon {
  margin-right: 10px;
  color: var(--red);
}
.navBar .navContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
}
.navBar img {
  width: 100%;
}
.navBar .navItem,
#basic-nav-dropdown {
  padding: 0;
  font-size: 18px;
  margin-right: 10px;
  font-weight: 500;
  text-transform: uppercase;
  color: var(--base-color);
}
.navBar .navItem:hover,
#basic-nav-dropdown:hover {
  color: var(--red);
}
.navItem.active {
  color: var(--red);
}
.navbar-toggler {
  border: 2px solid var(--base-color);
}
.navbar-toggler-icon {
  color: var(--base-color);
}
.dropMenu{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 20px;
}
#basic-navbar-nav {
  flex-direction: row;
}
.socials {
  margin-left: 190px;
}
.bookBtn {
  background-color: var(--base-color);
  padding: 10px 40px;
  border: none;
  border-radius: 50px;
  font-size: 20px;
  box-shadow: 0px 5px 15px 0px rgba(112, 74, 39, 0.51);
}
.bookBtn:hover {
  background-color: var(--red);
  border: none;
}
.bookBtn .icon {
  margin-left: 10px;
}
@media only screen and (max-width: 500px) {
  .topBar {
    display: none;
  }
  .Desktop{
    display: none;
  }
}

/*Mobile Navbar*/
.MobNavbar {
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--base-color);
}

.MobNavbar > .Mobnav-logo {
  font-weight: 700;
  font-size: 21px;
  margin: 15px;
  color: #ffffff;
}

.MobNavbar > .Mobnav-items > a {
  color: #000000;
  font-size: 16px;
  text-decoration: none;
  margin: 15px;
  position: relative;
  opacity: 0.9;
}

.MobNavbar > .Mobnav-items > a:hover {
  opacity: 1;
}

.MobNavbar > .Mobnav-items > a::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  background: #000000;
  transition: all 0.45s;
}

.MobNavbar > .Mobnav-items > a:hover::before {
  width: 100%;
}

.MobNavbar > .Mobnav-toggle {
  display: none;
}
@media (min-width:501px) {
  .MobNavbar{
      display: none;
  }
}
@media (max-width: 500px) {
  .MobNavbar > .Mobnav-items {
    position: absolute;
    top: 70px;
    display: flex;
    flex-direction: column;
    background: #fff;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateX(-100%);
    transition: all .45s;
  }

  .MobNavbar > .Mobnav-items > a::before {
      background: transparent;
  }

  .MobNavbar > .Mobnav-items.open {
      transform: translateX(0);
  }

  .MobNavbar > .Mobnav-toggle {
    display: flex;
    width: 50px;
    height: 50px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }

  .Mobnav-toggle > .bar {
    position: relative;
    width: 32px;
    height: 2px;
    background: #000000;
    transition: all 0.45s ease-in-out;
  }

  .Mobnav-toggle > .bar::before,
  .Mobnav-toggle > .bar::after {
    content: "";
    position: absolute;
    height: 2px;
    background: #000000;
    border-radius: 2px;
    transition: all 0.45s ease-in-out;
  }

  .Mobnav-toggle > .bar::before {
    width: 25px;
    transform: translateY(-8px);
    right: 0;
  }

  .Mobnav-toggle > .bar::after {
    width: 32px;
    transform: translateY(8px);
  }

  .Mobnav-toggle.open > .bar {
      transform: translateX(-40px);
      background: transparent;
  }

  .Mobnav-toggle.open > .bar::before {
      width: 32px;
      transform: rotate(45deg) translate(26px, -26px);
  }

  .Mobnav-toggle.open > .bar::after {
    transform: rotate(-45deg) translate(26px, 26px);
  }
}