.contacts {
  position: fixed;
  z-index: 100;
  margin-left: 93vw;
  margin-top: 65vh;
}
.hYBuTn {
  background: var(--red) !important;
  border: none !important;
  outline: none !important;
}
.hYBuTn:is(:hover, :focus, :active) {
  background: rgb(17, 219, 118) !important;
}

@media only screen and (max-width: 500px) {
    .contacts{
        margin-top: 75vh;
        margin-left: 83vw;
    }
}